/* Color scheme from : https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/ */
/* "Beautiful Blues": #011f4b • #03396c • #005b96 • #6497b1 • #b3cde0 */

html {
    background-color: skyblue;
}

body {
    margin-top: 200px;
    margin-bottom: 200px;
}

.canvas-container {
    width: 100%;
    text-align:center;
}

#game-canvas {
    display: inline;
    background-color: #005b96;
    border-top: 12px solid #005b96;
    border-left: 12px solid #005b96;
}